.a11y-light pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
.a11y-light code.hljs {
  padding: 3px 5px
}
/*!
  Theme: a11y-light
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
.a11y-light .hljs {
  background: #fefefe;
  color: #545454
}
/* Comment */
.a11y-light .hljs-comment,
.a11y-light .hljs-quote {
  color: #696969
}
/* Red */
.a11y-light .hljs-variable,
.a11y-light .hljs-template-variable,
.a11y-light .hljs-tag,
.a11y-light .hljs-name,
.a11y-light .hljs-selector-id,
.a11y-light .hljs-selector-class,
.a11y-light .hljs-regexp,
.a11y-light .hljs-deletion {
  color: #d91e18
}
/* Orange */
.a11y-light .hljs-number,
.a11y-light .hljs-built_in,
.a11y-light .hljs-literal,
.a11y-light .hljs-type,
.a11y-light .hljs-params,
.a11y-light .hljs-meta,
.a11y-light .hljs-link {
  color: #aa5d00
}
/* Yellow */
.a11y-light .hljs-attribute {
  color: #aa5d00
}
/* Green */
.a11y-light .hljs-string,
.a11y-light .hljs-symbol,
.a11y-light .hljs-bullet,
.a11y-light .hljs-addition {
  color: #008000
}
/* Blue */
.a11y-light .hljs-title,
.a11y-light .hljs-section {
  color: #007faa
}
/* Purple */
.a11y-light .hljs-keyword,
.a11y-light .hljs-selector-tag {
  color: #7928a1
}
.a11y-light .hljs-emphasis {
  font-style: italic
}
.a11y-light .hljs-strong {
  font-weight: bold
}
@media screen and (-ms-high-contrast: active) {
  .a11y-light .hljs-addition,
  .a11y-light .hljs-attribute,
  .a11y-light .hljs-built_in,
  .a11y-light .hljs-bullet,
  .a11y-light .hljs-comment,
  .a11y-light .hljs-link,
  .a11y-light .hljs-literal,
  .a11y-light .hljs-meta,
  .a11y-light .hljs-number,
  .a11y-light .hljs-params,
  .a11y-light .hljs-string,
  .a11y-light .hljs-symbol,
  .a11y-light .hljs-type,
  .a11y-light .hljs-quote {
    color: highlight
  }
  .a11y-light .hljs-keyword,
  .a11y-light .hljs-selector-tag {
    font-weight: bold
  }
}